<head>
<title>OPiCraft</title>
<meta property="og:title" content="OPiCraft">
<meta property="og:type" content="website">
<meta property="og:url" content="https://koutsie.vlx.red/opicraft/">
<meta property="og:image" content="https://koutsie.vlx.red/favicon.ico">
<meta property="og:site_name" content="OPicraft">
<meta property="og:description" content="Minecraft server running on an SBC.">
</head>
<style>
* {
 color: white;
 font-family: monospace;
}
</style>
<body bgcolor="black">
<img src="https://mcapi.us/server/image?ip=phazor.xyz&port=25565&theme=dark">
<h5>Running on an Orange Pi Zero Plus</h1>
<h6>Stats coming soon...</h6>
</body>
